#!/bin/bash

set -e

if [ -f /tmp/nvidia.marker ]; then
    echo "already configured the environment, skipping...."
    exit 0
fi

sudo -u ec2-user -i <<'EOF'

env_name=conda_mxnet_p36
env_name_short=mxnet_p36

# Create a new environment
echo "activating environment ${env_name_short}..."

source /home/ec2-user/anaconda3/bin/activate $env_name_short

# Update conda packages to match requirements of pip packages
# This works around the following error during gluonnlp installation:
# "ERROR: Cannot uninstall 'llvmlite'. It is a distutils installed project and
# thus we cannot accurately determine which files belong to it which would lead
# to only a partial uninstall."
# The error is due to pip attempting to update the pre-installed outdated numba
# dependency.

echo "updating conda..."
conda update -y numba llvmlite

echo "resolving packages..."
pip uninstall -y mxnet-cu100mkl mxnet-cu101mkl
pip install mxnet-cu101 --pre -U
pip install https://github.com/dmlc/gluon-nlp/tarball/v0.9.x
pip install --upgrade pip gluonnlp

# Set MXNET_HOME to avoid running out of space
echo "setting MXNET_HOME..."
touch /home/ec2-user/anaconda3/envs/$env_name_short/etc/conda/activate.d/env_vars.sh 
echo "export MXNET_HOME=/home/ec2-user/SageMaker" >> /home/ec2-user/anaconda3/envs/$env_name_short/etc/conda/activate.d/env_vars.sh

echo "done"

touch /tmp/nvidia.marker

EOF
