#!/bin/bash

set -e

sudo -u ec2-user -i <<'EOF'

# Install mxnet and d2l
echo "Installing updates..."
pip install --upgrade pip sagemaker
pip install "requests==2.20.1"

# Install RISE for slideshow
echo "installing and setting up RISE"
echo "activating JupyterSystemEnv..."
source /home/ec2-user/anaconda3/bin/activate JupyterSystemEnv
echo "installing conda rise...."
/home/ec2-user/anaconda3/bin/conda install -y -c conda-forge rise
echo "de-activating JupyterSystemEnv environment..."
source /home/ec2-user/anaconda3/bin/deactivate

# Enable scrolling in RISE slideshows
echo "enabling scrolling for rise..."
python3 -c 'from traitlets.config.manager import BaseJSONConfigManager; from pathlib import Path; path = Path.home() / ".jupyter" / "nbconfig"; cm = BaseJSONConfigManager(config_dir=str(path)); cm.update( "rise", { "scroll": True})'

# Configure docker data-dir to avoid running out of space
echo "Setting up docker's data-dir...."
sudo service docker stop
sudo rm /etc/docker/daemon.json
sudo mv /var/lib/docker /home/ec2-user/SageMaker/docker-data  # /home/ec2-user/SageMaker has more disk space
sudo bash -c 'cat > /etc/docker/daemon.json <<EOL
{

    "runtimes": {
        "nvidia": {
            "path": "nvidia-container-runtime",
            "runtimeArgs": []
        }
    },
    "data-root": "/home/ec2-user/SageMaker/docker-data"
}
EOL'

echo "restarting docker..."
sudo service docker start
echo "done"

EOF
