#!/bin/bash

set -e
REGION=$(wget -qO- http://169.254.169.254/latest/meta-data/placement/availability-zone | sed 's/[a-z]$//')
echo "setting region env var to : ${REGION}"

touch /etc/profile.d/jupyter-env.sh
echo "export REGION=${REGION}" > /etc/profile.d/jupyter-env.sh
initctl restart jupyter-server --no-wait
